# 必須要設定的

## Reflex App 設定
DEPLOY_URL=
API_URL=

## google oauth2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

## 連線所需
### 帳號密碼請根據你的 mongodb 去調整
MONGODB_URL=
MONGODB_USERNAME=
MONGODB_PASSWORD=

## 設定
### 改變年度時就放在這
MONGODB_DB_NAME=