# mongo db 設定
ME_CONFIG_MONGODB_ADMINUSERNAME=
ME_CONFIG_MONGODB_ADMINPASSWORD=
ME_CONFIG_MONGODB_SERVER='mongo'
ME_CONFIG_MONGODB_PORT=27017

# 登入設定
ME_CONFIG_BASICAUTH=true
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

# security 設定
ME_CONFIG_SITE_COOKIESECRET=  # 建議使用 openssl rand -hex 32 產生
ME_CONFIG_SITE_SESSIONSECRET= # 建議使用 openssl rand -base64 32 產生